/* CSS by Kiara Yazzie */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END CSS Reset*/

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
	--yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA; 
    --white: #FFFFFF;
    --black: #00000;
    font-family: 'Molle', cursive;
    font-family: 'Montserrat', sans-serif;
}


#skip {
    background-color: aqua;
    text-indent: -9999px;
    position: absolute; 
    background-color:black;
    color: white;
}

body {
    display: grid;
    width:320px;
    margin: 0 auto; 
    padding:0;
}

header {
    background: rgb(85,188,213);
    background: linear-gradient(180deg, rgba(85,188,213,1) 0%, rgba(255,255,255,1) 65%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header img{ 
    margin-top: 10px;
    width: 80%;
}

header h1, p {
    padding: 10px;
}

header h1, p {
    grid-column: 1/-1;
}

nav {
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li {
    color: var(--black);
    text-align: center;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--teal);
    max-height: 0;
    transition: max-height 1s ease-out;
}
li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: var(--black);
}

#menu-toggle{
    display: block;
    position: relative;
    z-index: 1;  
}

#menu-toggle label{
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: var(--yellow);
    width: 125px;
    padding: 13px;
    margin-top: 14px;
    margin-left: 26px;
}

#menu-toggle label:before, #menu-toggle label:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

#menu-toggle label:before {
    top: 5px;
}
#menu-toggle label:after {
    top: -5px;
}
#menu-toggle input {
    display: none;
}
#menu-toggle input:checked ~ ul {
    max-height: 500px;
}
#menu-toggle input:checked ~ label:not(.steps) label:before, input:checked ~ label:not(.steps) label:after {
    top: 0;
}



#toggle {
    opacity: 10%;
}


#intro img{
    display: block;
    width: 98%;
    margin-bottom: 10px;
}

.sr-only {
    position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

h1, h2, h3 {
    font-family: 'Molle', cursive;
    font-size: 32px;
}
h1 {
    color: var(--dark-gray);
}

h4, p, q, small, nav, button, form {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--dark-gray);
}


/*Plan Section*/
#plan {
    background-color: var(--yellow);
}

#plan div img {
    background-color: var(--teal);
    border: 4px solid var(--white) ;
    border-radius: 15px;
    padding: 35px;
}


/*About Section*/
#about{
    background-color: var(--blue);
    padding: 15px;
    display: grid;
    justify-items: center;
}

#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about div section, img{
    width: 50%;
}


/*Form Section*/
.form-required{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#contact input{
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto 10px auto;
    width: 120px;
}

#contact form{
    font-size: 18px;
}

#content input, label, fieldset{
	display: block;
    padding: 10px;
}

/*Names-Labels Section*/

#names label {
    font-weight: bold;
}

#nums legend, label{
    font-weight: bold;
}
#nums {
    padding: 5px;
}

#nums fieldset{
    border: var(--purple);
}

.radio-label{
    font-weight: lighter;
}


.required {
    font-weight: lighter;
    color: var(--purple);
}

.custom-select {
    margin-bottom: 15px;
    border: var(--purple);
}

footer {
    background-color: var(--light-gray);
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: var(--dark-gray);
}